<div class="well">
   <div class="panel"        
      [class.panel-success]="puzzleSolved"
      [class.panel-danger]="!puzzleSolved">
      <div class="panel-heading">
         <h3 class="panel-title">The Puzzle | {{ puzzleStatus }}</h3>
      </div>
      <div class="panel-body">
         <p>Welcome to the puzzle <span (nameChange)="onNameChange($event)" class="user-name">{{ playerName }}</span></p>
         <p>Change the switches until you find the right combination</p>
         <form [ngFormModel]="puzzleForm">
            <ul class="form-group">
               <li><input ngControl="switchOne" #switchone="ngForm" value="false" type="checkbox" name="puzzle-switch"></li>
               <li><input ngControl="switchTwo" #switchTwo="ngForm" value="false" type="checkbox" name="puzzle-switch"></li>
               <li><input ngControl="switchThree" #switchThree="ngForm" value="false" type="checkbox" name="puzzle-switch"></li>
               <li><input ngControl="switchFour" #switchFour="ngForm" value="false" type="checkbox" name="puzzle-switch"></li>
            </ul>
         </form>
         <h3 *ngIf="puzzleSolved">Congratulations, {{ playerName }}, you did it!</h3>   
      </div>
   </div>
</div>